In [1]:
import pandas as pd

In [2]:
user_info = pd.read_csv('C:\\Users\\Administrator\\Desktop\\新建文件夹\\个人征信\\train\\user_info_train.txt',header=None,names=['user_id','sex','occupation','education','marriage','household'])

In [3]:
user_info.head()

   user_id  sex  occupation  education  marriage  household
0     3150    1           2          4         1          4
1     6965    1           2          4         3          2
2     1265    1           3          4         3          1
3     6360    1           2          4         3          2
4     2583    2           2          2         1          1

In [4]:
bank_detail = pd.read_csv('C:\\Users\\Administrator\\Desktop\\新建文件夹\\个人征信\\train\\bank_detail_train.txt',header=None,names=['user_id','tm_encode','trade_type','trade_amount','salary_tag'])

In [5]:
bank_detail.head()

   user_id   tm_encode  trade_type  trade_amount  salary_tag
0     6965  5894316387           0     13.756664           0
1     6965  5894321388           1     13.756664           0
2     6965  5897553564           0     14.449810           0
3     6965  5897563463           1     10.527763           0
4     6965  5897564598           1     13.651303           0

In [6]:
browse_history = pd.read_csv('C:\\Users\\Administrator\\Desktop\\新建文件夹\\个人征信\\train\\browse_history_train.txt',header=None,names=['user_id','tm_encode_2','browse_data','browse_tag'])