In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("adultTest.csv")

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [8]:
df1 = df.set_index(["race","sex"])

In [9]:
df1.head()

              age          workclass  fnlwgt   education  education-num  \
race  sex
White Male     39          State-gov   77516   Bachelors             13
      Male     50   Self-emp-not-inc   83311   Bachelors             13
      Male     38            Private  215646     HS-grad              9
Black Male     53            Private  234721        11th              7
      Female   28            Private  338409   Bachelors             13

                   marital-status          occupation    relationship  \
race  sex
White Male          Never-married        Adm-clerical   Not-in-family
      Male     Married-civ-spouse     Exec-managerial         Husband
      Male               Divorced   Handlers-cleaners   Not-in-family
Black Male     Married-civ-spouse   Handlers-cleaners         Husband
      Female   Married-civ-spouse      Prof-specialty            Wife

              capital-gain  capital-loss  hours-per-week  native-country  \
race  sex
White Male            2174             0              40   United-States
      Male               0             0              13   United-States
      Male               0             0              40   United-States
Black Male               0             0              40   United-States
      Female             0             0              40            Cuba

               class
race  sex
White Male     <=50K
      Male     <=50K
      Male     <=50K
Black Male     <=50K
      Female   <=50K

In [10]:
df1.reset_index(['race','sex'])

,race,sex,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,capital-gain,capital-loss,hours-per-week,native-country,class
0,White,Male,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,2174,0,40,United-States,<=50K
1,White,Male,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,0,0,13,United-States,<=50K
2,White,Male,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,0,0,40,United-States,<=50K
3,Black,Male,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,0,0,40,United-States,<=50K
4,Black,Female,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,0,0,40,Cuba,<=50K
5,White,Female,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,0,0,40,United-States,<=50K
6,Black,Female,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,0,0,16,Jamaica,<=50K
7,White,Male,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,0,0,45,United-States,>50K
8,White,Female,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,14084,0,50,United-States,>50K
9,White,Male,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,5178,0,40,United-States,>50K
10,Black,Male,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,0,0,80,United-States,>50K
11,Asian-Pac-Islander,Male,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,0,0,40,India,>50K
12,White,Female,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,0,0,30,United-States,<=50K
13,Black,Male,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,0,0,50,United-States,<=50K
14,Asian-Pac-Islander,Male,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,0,0,40,?,>50K
15,Amer-Indian-Eskimo,Male,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,0,0,45,Mexico,<=50K
16,White,Male,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,0,0,35,United-States,<=50K
17,White,Male,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,0,0,40,United-States,<=50K
18,White,Male,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,0,0,50,United-States,<=50K
19,White,Female,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,0,0,45,United-States,>50K
20,White,Male,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,0,0,60,United-States,>50K
21,Black,Female,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,0,0,20,United-States,<=50K
22,Black,Male,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,0,0,40,United-States,<=50K
23,White,Male,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,0,2042,40,United-States,<=50K
24,White,Female,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,0,0,40,United-States,<=50K
25,White,Male,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,0,0,40,United-States,>50K
26,White,Male,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,0,0,40,United-States,<=50K
27,Asian-Pac-Islander,Male,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,0,0,60,South,>50K
28,White,Male,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,0,0,80,United-States,<=50K
29,White,Male,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,Asian-Pac-Islander,Female,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,0,0,99,United-States,<=50K
32532,White,Male,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,0,0,60,United-States,>50K
32533,Asian-Pac-Islander,Male,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,0,0,50,Japan,>50K
32534,White,Female,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,0,0,39,United-States,<=50K
32535,Black,Male,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,0,0,35,United-States,<=50K
32536,White,Female,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,0,0,55,United-States,>50K
32537,Black,Male,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,0,0,46,United-States,<=50K
32538,Black,Female,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,15020,0,45,United-States,>50K
32539,White,Male,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,0,0,10,United-States,>50K
32540,White,Female,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,0,0,40,United-States,<=50K
32541,Black,Female,41,?,202822,HS-grad,9,Separated,?,Not-in-family,0,0,32,United-States,<=50K
32542,White,Male,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,0,0,25,United-States,<=50K
32543,White,Female,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,0,0,48,United-States,<=50K
32544,Other,Female,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,0,0,30,United-States,<=50K
32545,White,Female,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,0,0,20,United-States,>50K
32546,White,Female,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,0,0,40,United-States,<=50K
32547,White,Male,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,0,0,40,Mexico,<=50K
32548,White,Male,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,1086,0,60,United-States,<=50K
32549,White,Female,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,0,0,40,United-States,<=50K
32550,White,Male,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,0,0,50,United-States,<=50K
32551,Amer-Indian-Eskimo,Male,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,0,0,40,United-States,<=50K
32552,White,Male,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,0,0,45,United-States,<=50K
32553,Asian-Pac-Islander,Male,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,0,0,11,Taiwan,<=50K
32554,White,Male,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,0,0,40,United-States,>50K
32555,White,Male,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,0,0,40,United-States,<=50K
32556,White,Female,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,0,0,38,United-States,<=50K
32557,White,Male,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,0,0,40,United-States,>50K
32558,White,Female,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,0,0,40,United-States,<=50K
32559,White,Male,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,0,0,20,United-States,<=50K
32560,White,Female,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,15024,0,40,United-States,>50K

In [11]:
df1.head()

              age          workclass  fnlwgt   education  education-num  \
race  sex
White Male     39          State-gov   77516   Bachelors             13
      Male     50   Self-emp-not-inc   83311   Bachelors             13
      Male     38            Private  215646     HS-grad              9
Black Male     53            Private  234721        11th              7
      Female   28            Private  338409   Bachelors             13

                   marital-status          occupation    relationship  \
race  sex
White Male          Never-married        Adm-clerical   Not-in-family
      Male     Married-civ-spouse     Exec-managerial         Husband
      Male               Divorced   Handlers-cleaners   Not-in-family
Black Male     Married-civ-spouse   Handlers-cleaners         Husband
      Female   Married-civ-spouse      Prof-specialty            Wife

              capital-gain  capital-loss  hours-per-week  native-country  \
race  sex
White Male            2174             0              40   United-States
      Male               0             0              13   United-States
      Male               0             0              40   United-States
Black Male               0             0              40   United-States
      Female             0             0              40            Cuba

               class
race  sex
White Male     <=50K
      Male     <=50K
      Male     <=50K
Black Male     <=50K
      Female   <=50K

In [18]:
df1.loc[("White","Male"),'age']

D:\学习\A\lib\site-packages\pandas\core\indexing.py:1294: PerformanceWarning: indexing past lexsort depth may impact performance.
  return self._getitem_tuple(key)

race   sex
White  Male    39
       Male    50
       Male    38
       Male    52
       Male    42
       Male    25
       Male    32
       Male    38
       Male    40
       Male    43
       Male    56
       Male    19
       Male    39
       Male    49
       Male    23
       Male    45
       Male    30
       Male    48
       Male    21
       Male    31
       Male    48
       Male    31
       Male    53
       Male    24
       Male    25
       Male    53
       Male    41
       Male    29
       Male    50
       Male    47
               ..
       Male    26
       Male    18
       Male    57
       Male    34
       Male    71
       Male    35
       Male    47
       Male    38
       Male    50
       Male    39
       Male    20
       Male    66
       Male    36
       Male    57
       Male    46
       Male    58
       Male    30
       Male    32
       Male    22
       Male    34
       Male    71
       Male    72
       Male    43
       Male    65
       Male    43
       Male    43
       Male    53
       Male    22
       Male    40
       Male    22
Name: age, dtype: int64

In [19]:
df2 = df1.sort_index()

In [21]:
df2.loc[("White","Male"),"age"]

race   sex
White  Male    39
       Male    50
       Male    38
       Male    52
       Male    42
       Male    25
       Male    32
       Male    38
       Male    40
       Male    43
       Male    56
       Male    19
       Male    39
       Male    49
       Male    23
       Male    45
       Male    30
       Male    48
       Male    21
       Male    31
       Male    48
       Male    31
       Male    53
       Male    24
       Male    25
       Male    53
       Male    41
       Male    29
       Male    50
       Male    47
               ..
       Male    26
       Male    18
       Male    57
       Male    34
       Male    71
       Male    35
       Male    47
       Male    38
       Male    50
       Male    39
       Male    20
       Male    66
       Male    36
       Male    57
       Male    46
       Male    58
       Male    30
       Male    32
       Male    22
       Male    34
       Male    71
       Male    72
       Male    43
       Male    65
       Male    43
       Male    43
       Male    53
       Male    22
       Male    40
       Male    22
Name: age, dtype: int64

In [29]:
df2.loc[(["White","Black"],["Male"]),"age"]

race   sex
Black  Male    53
       Male    37
       Male    32
       Male    35
       Male    20
       Male    22
       Male    57
       Male    32
       Male    49
       Male    30
       Male    19
       Male    71
       Male    42
       Male    21
       Male    34
       Male    44
       Male    30
       Male    34
       Male    41
       Male    36
       Male    44
       Male    37
       Male    90
       Male    54
       Male    35
       Male    43
       Male    41
       Male    19
       Male    45
       Male    45
               ..
White  Male    26
       Male    18
       Male    57
       Male    34
       Male    71
       Male    35
       Male    47
       Male    38
       Male    50
       Male    39
       Male    20
       Male    66
       Male    36
       Male    57
       Male    46
       Male    58
       Male    30
       Male    32
       Male    22
       Male    34
       Male    71
       Male    72
       Male    43
       Male    65
       Male    43
       Male    43
       Male    53
       Male    22
       Male    40
       Male    22
Name: age, dtype: int64

## 多重索引之前请必须对索引进行排序

In [33]:
# slice 
df3 = df2.set_index("age",append = True)

In [35]:
df3.sort_index(inplace=True)

In [45]:
df3.loc[(slice("Black","White"),["Female"],slice(17,30)),]

                          workclass  fnlwgt      education  education-num  \
race  sex    age
Black Female 17             Private  295488           11th              7
             17                   ?  659273           11th              7
             17             Private  117549           10th              6
             17             Private   75333           10th              6
             17             Private  222618           11th              7
             17             Private   19752           11th              7
             17             Private  143791           10th              6
             17                   ?   48751           11th              7
             17             Private  317702            9th              5
             17             Private  225507           11th              7
             17         Federal-gov   99893           11th              7
             17                   ?  216595           11th              7
             17             Private  317702           10th              6
             17             Private  452406           11th              7
             17                   ?  172145           10th              6
             18             Private  183315           11th              7
             18                   ?  256191        HS-grad              9
             18                   ?  340117           11th              7
             18             Private  256967           10th              6
             18             Private  282394   Some-college             10
             18                   ?  171748   Some-college             10
             18             Private  198614           11th              7
             18             Private  335665           11th              7
             18             Private  311795           12th              8
             18             Private  276540           12th              8
             18             Private  452452           10th              6
             18                   ?  261276   Some-college             10
             18             Private  173585        HS-grad              9
             18             Private  166889   Some-college             10
             18                   ?  172214        HS-grad              9
...                             ...     ...            ...            ...
White Female 30             Private   35724    Prof-school             15
             30             Private  396538        HS-grad              9
             30           Local-gov  311913        HS-grad              9
             30             Private  207564   Some-college             10
             30             Private   81282        HS-grad              9
             30             Private   33124        HS-grad              9
             30             Private  200192   Some-college             10
             30                   ?  205418        HS-grad              9
             30             Private  128016      Bachelors             13
             30             Private  151989      Assoc-voc             11
             30             Private  212064      Bachelors             13
             30             Private  101345      Bachelors             13
             30             Private  269723        HS-grad              9
             30             Private  271933        HS-grad              9
             30             Private  178587      Assoc-voc             11
             30    Self-emp-not-inc  189265     Assoc-acdm             12
             30             Private  195488        HS-grad              9
             30           Local-gov  118500   Some-college             10
             30           Local-gov  164493   Some-college             10
             30             Private  226396        HS-grad              9
             30             Private  161690      Assoc-voc             11
             30         Federal-gov  127610      Bachelors             13
             30             Private  207172      Bachelors             13
             30             Private  258170        HS-grad              9
             30             Private  430283        HS-grad              9
             30             Private  147430        HS-grad              9
             30             Private   30290        HS-grad              9
             30             Private  176410      Assoc-voc             11
             30             Private  318749      Assoc-voc             11
             30             Private  176175      Assoc-voc             11

                          marital-status          occupation     relationship  \
race  sex    age
Black Female 17            Never-married       Other-service        Own-child
             17            Never-married                   ?        Own-child
             17            Never-married               Sales   Other-relative
             17            Never-married               Sales        Own-child
             17            Never-married               Sales        Own-child
             17            Never-married       Other-service        Own-child
             17            Never-married       Other-service        Own-child
             17            Never-married                   ?        Own-child
             17            Never-married       Other-service        Own-child
             17            Never-married   Handlers-cleaners    Not-in-family
             17            Never-married        Adm-clerical    Not-in-family
             17            Never-married                   ?        Own-child
             17            Never-married               Sales        Own-child
             17            Never-married               Sales        Own-child
             17            Never-married                   ?        Own-child
             18            Never-married               Sales        Own-child
             18            Never-married                   ?        Own-child
             18            Never-married                   ?        Unmarried
             18            Never-married               Sales   Other-relative
             18            Never-married               Sales        Own-child
             18            Never-married                   ?        Own-child
             18            Never-married               Sales        Own-child
             18            Never-married       Other-service   Other-relative
             18            Never-married               Sales        Own-child
             18            Never-married               Sales        Own-child
             18            Never-married     Priv-house-serv        Own-child
             18            Never-married                   ?        Own-child
             18            Never-married               Sales        Own-child
             18            Never-married   Handlers-cleaners        Own-child
             18            Never-married                   ?        Own-child
...                                  ...                 ...              ...
White Female 30       Married-civ-spouse      Prof-specialty             Wife
             30                Separated     Exec-managerial        Unmarried
             30       Married-civ-spouse        Adm-clerical             Wife
             30       Married-civ-spouse        Adm-clerical             Wife
             30            Never-married       Other-service        Unmarried
             30                Separated     Farming-fishing        Unmarried
             30       Married-civ-spouse       Other-service             Wife
             30       Married-civ-spouse                   ?             Wife
             30            Never-married     Exec-managerial    Not-in-family
             30       Married-civ-spouse        Tech-support             Wife
             30            Never-married      Prof-specialty        Own-child
             30       Married-civ-spouse               Sales             Wife
             30            Never-married     Exec-managerial    Not-in-family
             30                 Divorced        Adm-clerical    Not-in-family
             30                 Divorced        Adm-clerical    Not-in-family
             30                 Divorced        Adm-clerical    Not-in-family
             30            Never-married     Priv-house-serv        Own-child
             30                 Divorced        Adm-clerical        Unmarried
             30            Never-married        Adm-clerical        Own-child
             30       Married-civ-spouse       Other-service             Wife
             30            Never-married      Prof-specialty    Not-in-family
             30            Never-married        Adm-clerical    Not-in-family
             30       Married-civ-spouse        Adm-clerical             Wife
             30                 Divorced        Adm-clerical    Not-in-family
             30       Married-civ-spouse        Adm-clerical             Wife
             30    Married-spouse-absent        Adm-clerical    Not-in-family
             30            Never-married   Machine-op-inspct    Not-in-family
             30       Married-civ-spouse      Prof-specialty        Own-child
             30       Married-civ-spouse        Tech-support             Wife
             30                 Divorced        Adm-clerical        Unmarried

                  capital-gain  capital-loss  hours-per-week  \
race  sex    age
Black Female 17              0             0              25
             17              0             0              40
             17              0             0              12
             17              0             0              24
             17              0             0              30
             17              0             0              25
             17              0             0              12
             17              0             0              40
             17              0             0              40
             17              0             0              15
             17              0          1602              40
             17              0             0              20
             17              0             0              15
             17              0             0              15
             17              0             0              40
             18              0             0              10
             18              0             0              25
             18              0             0              50
             18              0             0              40
             18              0             0              21
             18              0             0              24
             18              0             0               8
             18              0             0              24
             18              0             0              20
             18              0             0              15
             18              0             0              20
             18              0          1602              40
             18              0             0              18
             18              0          1602              35
             18              0             0              20
...                        ...           ...             ...
White Female 30              0             0              45
             30              0             0              29
             30              0             0              40
             30              0             0              40
             30              0             0              40
             30              0             0              14
             30              0             0              45
             30              0             0              20
             30              0             0              55
             30              0             0              40
             30              0             0              40
             30           3103             0              55
             30              0             0              40
             30              0             0              40
             30              0             0              38
             30              0             0              40
             30              0             0              40
             30              0             0              40
             30              0             0              10
             30              0             0              30
             30              0             0              40
             30              0             0              35
             30              0             0              40
             30              0             0              40
             30           7298             0              40
             30              0             0              40
             30              0             0              40
             30           7298             0              16
             30              0             0              35
             30              0             0              24

                    native-country   class
race  sex    age
Black Female 17      United-States   <=50K
             17    Trinadad&Tobago   <=50K
             17      United-States   <=50K
             17      United-States   <=50K
             17      United-States   <=50K
             17      United-States   <=50K
             17      United-States   <=50K
             17      United-States   <=50K
             17      United-States   <=50K
             17      United-States   <=50K
             17      United-States   <=50K
             17      United-States   <=50K
             17      United-States   <=50K
             17      United-States   <=50K
             17      United-States   <=50K
             18      United-States   <=50K
             18      United-States   <=50K
             18      United-States   <=50K
             18      United-States   <=50K
             18      United-States   <=50K
             18      United-States   <=50K
             18      United-States   <=50K
             18      United-States   <=50K
             18      United-States   <=50K
             18      United-States   <=50K
             18      United-States   <=50K
             18           Cambodia   <=50K
             18      United-States   <=50K
             18      United-States   <=50K
             18      United-States   <=50K
...                            ...     ...
White Female 30      United-States    >50K
             30      United-States   <=50K
             30      United-States    >50K
             30      United-States   <=50K
             30      United-States   <=50K
             30      United-States   <=50K
             30      United-States   <=50K
             30      United-States   <=50K
             30      United-States   <=50K
             30      United-States   <=50K
             30      United-States   <=50K
             30      United-States    >50K
             30      United-States   <=50K
             30      United-States   <=50K
             30      United-States   <=50K
             30      United-States   <=50K
             30          Guatemala   <=50K
             30      United-States   <=50K
             30      United-States   <=50K
             30      United-States   <=50K
             30      United-States   <=50K
             30      United-States   <=50K
             30             Mexico   <=50K
             30      United-States   <=50K
             30      United-States    >50K
             30      United-States   <=50K
             30      United-States   <=50K
             30      United-States    >50K
             30            Germany   <=50K
             30      United-States   <=50K

[4066 rows x 12 columns]

In [46]:
df3.xs(('Black','Male'),level = ('race','sex'))

,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,capital-gain,capital-loss,hours-per-week,native-country,class
age,,,,,,,,,,,,
17,Local-gov,32124,9th,5,Never-married,Other-service,Own-child,0,0,9,United-States,<=50K
17,?,127003,9th,5,Never-married,?,Own-child,0,0,40,United-States,<=50K
17,Private,221403,12th,8,Never-married,Other-service,Own-child,0,0,18,United-States,<=50K
17,Private,154398,11th,7,Never-married,Other-service,Own-child,0,0,16,Haiti,<=50K
17,Private,234780,HS-grad,9,Never-married,Farming-fishing,Own-child,0,0,40,United-States,<=50K
17,Private,126779,11th,7,Never-married,Other-service,Own-child,0,0,20,United-States,<=50K
17,Private,250541,10th,6,Never-married,Other-service,Own-child,0,0,20,United-States,<=50K
17,Self-emp-inc,325171,10th,6,Never-married,Other-service,Own-child,0,0,35,United-States,<=50K
17,Private,133449,9th,5,Never-married,Other-service,Own-child,0,0,26,United-States,<=50K
17,?,148769,HS-grad,9,Never-married,?,Own-child,0,0,40,United-States,<=50K
17,Private,142457,11th,7,Never-married,Other-service,Own-child,0,0,20,United-States,<=50K
17,Private,225211,9th,5,Never-married,Other-service,Own-child,0,0,35,United-States,<=50K
17,Local-gov,173497,11th,7,Never-married,Prof-specialty,Own-child,0,0,15,United-States,<=50K
17,Private,321880,10th,6,Never-married,Other-service,Own-child,0,0,15,United-States,<=50K
17,Private,230789,9th,5,Never-married,Sales,Own-child,0,0,22,United-States,<=50K
17,?,341395,10th,6,Never-married,?,Own-child,0,0,20,United-States,<=50K
17,?,250541,11th,7,Never-married,?,Own-child,0,0,8,United-States,<=50K
17,Private,143868,9th,5,Never-married,Other-service,Own-child,0,0,40,United-States,<=50K
17,Private,108470,11th,7,Never-married,Other-service,Own-child,0,0,17,United-States,<=50K
18,Private,283342,11th,7,Never-married,Other-service,Other-relative,0,0,20,United-States,<=50K
18,Private,131033,11th,7,Never-married,Other-service,Other-relative,0,0,15,United-States,<=50K
18,Private,174732,HS-grad,9,Never-married,Other-service,Other-relative,0,0,36,United-States,<=50K
18,Private,104704,HS-grad,9,Never-married,Adm-clerical,Own-child,0,0,40,United-States,<=50K
18,Private,193741,11th,7,Never-married,Other-service,Other-relative,0,0,30,United-States,<=50K
18,Private,152004,11th,7,Never-married,Other-service,Own-child,0,0,20,United-States,<=50K
18,Private,120544,9th,5,Never-married,Other-service,Own-child,0,0,15,United-States,<=50K
18,Private,115630,11th,7,Never-married,Adm-clerical,Own-child,0,0,20,United-States,<=50K
18,Private,274057,11th,7,Never-married,Other-service,Own-child,0,0,8,United-States,<=50K
18,Private,120691,Some-college,10,Never-married,Other-service,Own-child,0,0,35,?,<=50K
18,Private,312353,12th,8,Never-married,Other-service,Own-child,0,0,20,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...
66,State-gov,162945,Prof-school,15,Married-civ-spouse,Exec-managerial,Husband,20051,0,55,United-States,>50K
67,?,45537,Masters,14,Married-civ-spouse,?,Husband,0,0,40,United-States,>50K
67,Private,154035,HS-grad,9,Widowed,Handlers-cleaners,Other-relative,0,0,32,United-States,<=50K
67,Local-gov,256821,HS-grad,9,Divorced,Protective-serv,Not-in-family,0,0,20,United-States,<=50K
67,Private,257557,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,10566,0,40,United-States,<=50K
67,State-gov,239705,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,0,0,12,?,<=50K
67,?,132057,HS-grad,9,Married-civ-spouse,?,Husband,0,0,20,United-States,<=50K
68,?,133758,7th-8th,4,Widowed,?,Not-in-family,0,0,10,United-States,<=50K
68,Private,236943,9th,5,Divorced,Farming-fishing,Not-in-family,0,0,20,United-States,<=50K
68,Private,148874,9th,5,Married-civ-spouse,Craft-repair,Husband,0,0,44,United-States,<=50K
69,Private,512992,11th,7,Married-civ-spouse,Prof-specialty,Husband,0,0,45,United-States,<=50K
69,Private,128348,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,9386,0,50,United-States,>50K
70,Federal-gov,163003,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,0,0,40,United-States,<=50K
70,Self-emp-not-inc,205860,Masters,14,Married-civ-spouse,Exec-managerial,Husband,0,0,40,United-States,<=50K
71,Self-emp-not-inc,494223,Some-college,10,Separated,Sales,Unmarried,0,1816,2,United-States,<=50K
71,Private,235079,Preschool,1,Widowed,Craft-repair,Unmarried,0,0,10,United-States,<=50K
71,State-gov,100063,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,0,0,40,United-States,<=50K
72,Private,53684,Some-college,10,Married-civ-spouse,Protective-serv,Husband,0,0,40,United-States,<=50K
72,Private,284080,1st-4th,2,Divorced,Other-service,Not-in-family,0,0,40,United-States,<=50K
74,Private,209454,5th-6th,3,Married-civ-spouse,Transport-moving,Husband,0,0,40,United-States,<=50K
74,?,292627,1st-4th,2,Married-civ-spouse,?,Husband,0,0,40,United-States,<=50K
74,Private,91488,1st-4th,2,Married-civ-spouse,Transport-moving,Husband,0,0,20,United-States,<=50K
75,?,164849,9th,5,Married-civ-spouse,?,Husband,1409,0,5,United-States,<=50K
75,Private,95985,5th-6th,3,Widowed,Other-service,Unmarried,0,0,10,United-States,<=50K
75,State-gov,113868,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,0,0,20,United-States,>50K
75,Self-emp-not-inc,205860,Some-college,10,Married-civ-spouse,Craft-repair,Husband,0,1735,40,United-States,<=50K
77,?,232894,9th,5,Married-civ-spouse,?,Husband,0,0,40,United-States,<=50K
84,Private,388384,7th-8th,4,Married-civ-spouse,Prof-specialty,Husband,0,0,10,United-States,<=50K
90,Private,51744,HS-grad,9,Never-married,Other-service,Not-in-family,0,2206,40,United-States,<=50K
90,Private,51744,Masters,14,Never-married,Exec-managerial,Not-in-family,0,0,50,United-States,>50K

In [47]:
df3.xs(('Black','Male'),level = (0,1))

,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,capital-gain,capital-loss,hours-per-week,native-country,class
age,,,,,,,,,,,,
17,Local-gov,32124,9th,5,Never-married,Other-service,Own-child,0,0,9,United-States,<=50K
17,?,127003,9th,5,Never-married,?,Own-child,0,0,40,United-States,<=50K
17,Private,221403,12th,8,Never-married,Other-service,Own-child,0,0,18,United-States,<=50K
17,Private,154398,11th,7,Never-married,Other-service,Own-child,0,0,16,Haiti,<=50K
17,Private,234780,HS-grad,9,Never-married,Farming-fishing,Own-child,0,0,40,United-States,<=50K
17,Private,126779,11th,7,Never-married,Other-service,Own-child,0,0,20,United-States,<=50K
17,Private,250541,10th,6,Never-married,Other-service,Own-child,0,0,20,United-States,<=50K
17,Self-emp-inc,325171,10th,6,Never-married,Other-service,Own-child,0,0,35,United-States,<=50K
17,Private,133449,9th,5,Never-married,Other-service,Own-child,0,0,26,United-States,<=50K
17,?,148769,HS-grad,9,Never-married,?,Own-child,0,0,40,United-States,<=50K
17,Private,142457,11th,7,Never-married,Other-service,Own-child,0,0,20,United-States,<=50K
17,Private,225211,9th,5,Never-married,Other-service,Own-child,0,0,35,United-States,<=50K
17,Local-gov,173497,11th,7,Never-married,Prof-specialty,Own-child,0,0,15,United-States,<=50K
17,Private,321880,10th,6,Never-married,Other-service,Own-child,0,0,15,United-States,<=50K
17,Private,230789,9th,5,Never-married,Sales,Own-child,0,0,22,United-States,<=50K
17,?,341395,10th,6,Never-married,?,Own-child,0,0,20,United-States,<=50K
17,?,250541,11th,7,Never-married,?,Own-child,0,0,8,United-States,<=50K
17,Private,143868,9th,5,Never-married,Other-service,Own-child,0,0,40,United-States,<=50K
17,Private,108470,11th,7,Never-married,Other-service,Own-child,0,0,17,United-States,<=50K
18,Private,283342,11th,7,Never-married,Other-service,Other-relative,0,0,20,United-States,<=50K
18,Private,131033,11th,7,Never-married,Other-service,Other-relative,0,0,15,United-States,<=50K
18,Private,174732,HS-grad,9,Never-married,Other-service,Other-relative,0,0,36,United-States,<=50K
18,Private,104704,HS-grad,9,Never-married,Adm-clerical,Own-child,0,0,40,United-States,<=50K
18,Private,193741,11th,7,Never-married,Other-service,Other-relative,0,0,30,United-States,<=50K
18,Private,152004,11th,7,Never-married,Other-service,Own-child,0,0,20,United-States,<=50K
18,Private,120544,9th,5,Never-married,Other-service,Own-child,0,0,15,United-States,<=50K
18,Private,115630,11th,7,Never-married,Adm-clerical,Own-child,0,0,20,United-States,<=50K
18,Private,274057,11th,7,Never-married,Other-service,Own-child,0,0,8,United-States,<=50K
18,Private,120691,Some-college,10,Never-married,Other-service,Own-child,0,0,35,?,<=50K
18,Private,312353,12th,8,Never-married,Other-service,Own-child,0,0,20,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...
66,State-gov,162945,Prof-school,15,Married-civ-spouse,Exec-managerial,Husband,20051,0,55,United-States,>50K
67,?,45537,Masters,14,Married-civ-spouse,?,Husband,0,0,40,United-States,>50K
67,Private,154035,HS-grad,9,Widowed,Handlers-cleaners,Other-relative,0,0,32,United-States,<=50K
67,Local-gov,256821,HS-grad,9,Divorced,Protective-serv,Not-in-family,0,0,20,United-States,<=50K
67,Private,257557,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,10566,0,40,United-States,<=50K
67,State-gov,239705,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,0,0,12,?,<=50K
67,?,132057,HS-grad,9,Married-civ-spouse,?,Husband,0,0,20,United-States,<=50K
68,?,133758,7th-8th,4,Widowed,?,Not-in-family,0,0,10,United-States,<=50K
68,Private,236943,9th,5,Divorced,Farming-fishing,Not-in-family,0,0,20,United-States,<=50K
68,Private,148874,9th,5,Married-civ-spouse,Craft-repair,Husband,0,0,44,United-States,<=50K
69,Private,512992,11th,7,Married-civ-spouse,Prof-specialty,Husband,0,0,45,United-States,<=50K
69,Private,128348,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,9386,0,50,United-States,>50K
70,Federal-gov,163003,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,0,0,40,United-States,<=50K
70,Self-emp-not-inc,205860,Masters,14,Married-civ-spouse,Exec-managerial,Husband,0,0,40,United-States,<=50K
71,Self-emp-not-inc,494223,Some-college,10,Separated,Sales,Unmarried,0,1816,2,United-States,<=50K
71,Private,235079,Preschool,1,Widowed,Craft-repair,Unmarried,0,0,10,United-States,<=50K
71,State-gov,100063,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,0,0,40,United-States,<=50K
72,Private,53684,Some-college,10,Married-civ-spouse,Protective-serv,Husband,0,0,40,United-States,<=50K
72,Private,284080,1st-4th,2,Divorced,Other-service,Not-in-family,0,0,40,United-States,<=50K
74,Private,209454,5th-6th,3,Married-civ-spouse,Transport-moving,Husband,0,0,40,United-States,<=50K
74,?,292627,1st-4th,2,Married-civ-spouse,?,Husband,0,0,40,United-States,<=50K
74,Private,91488,1st-4th,2,Married-civ-spouse,Transport-moving,Husband,0,0,20,United-States,<=50K
75,?,164849,9th,5,Married-civ-spouse,?,Husband,1409,0,5,United-States,<=50K
75,Private,95985,5th-6th,3,Widowed,Other-service,Unmarried,0,0,10,United-States,<=50K
75,State-gov,113868,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,0,0,20,United-States,>50K
75,Self-emp-not-inc,205860,Some-college,10,Married-civ-spouse,Craft-repair,Husband,0,1735,40,United-States,<=50K
77,?,232894,9th,5,Married-civ-spouse,?,Husband,0,0,40,United-States,<=50K
84,Private,388384,7th-8th,4,Married-civ-spouse,Prof-specialty,Husband,0,0,10,United-States,<=50K
90,Private,51744,HS-grad,9,Never-married,Other-service,Not-in-family,0,2206,40,United-States,<=50K
90,Private,51744,Masters,14,Never-married,Exec-managerial,Not-in-family,0,0,50,United-States,>50K

In [52]:
grouped = df.groupby(["race","sex"])

In [57]:
df1.groupby(level = [0,1])

In [59]:
grouped.size()

race                sex
Amer-Indian-Eskimo  Female      119
                    Male        192
Asian-Pac-Islander  Female      346
                    Male        693
Black               Female     1555
                    Male       1569
Other               Female      109
                    Male        162
White               Female     8642
                    Male      19174
dtype: int64

In [64]:
grouped['age'].mean()

race                sex
Amer-Indian-Eskimo  Female    37.117647
                    Male      37.208333
Asian-Pac-Islander  Female    35.089595
                    Male      39.073593
Black               Female    37.854019
                    Male      37.682600
Other               Female    31.678899
                    Male      34.654321
White               Female    36.811618
                    Male      39.652498
Name: age, dtype: float64

In [66]:
grouped["fnlwgt"].sum()

race                sex
Amer-Indian-Eskimo  Female      13441137
                    Male        24137350
Asian-Pac-Islander  Female      51018418
                    Male       115159875
Black               Female     331170508
                    Male       381142492
Other               Female      18804641
                    Male        34616015
White               Female    1586238814
                    Male      3623644142
Name: fnlwgt, dtype: int64

In [67]:
grouped.agg({"age":np.sum,"fnlwgt":np.mean,.....}) # 一定要会

                           fnlwgt     age
race               sex
Amer-Indian-Eskimo Female  112950    4417
                   Male    125715    7144
Asian-Pac-Islander Female  147452   12141
                   Male    166175   27078
Black              Female  212971   58863
                   Male    242920   59124
Other              Female  172519    3453
                   Male    213679    5614
White              Female  183549  318126
                   Male    188987  760297

In [68]:
grouped['age'].agg([np.sum,np.mean,np.std])

                              sum       mean        std
race               sex
Amer-Indian-Eskimo Female    4417  37.117647  13.114991
                   Male      7144  37.208333  12.049563
Asian-Pac-Islander Female   12141  35.089595  12.300845
                   Male     27078  39.073593  12.883944
Black              Female   58863  37.854019  12.637197
                   Male     59124  37.682600  12.882612
Other              Female    3453  31.678899  11.631599
                   Male      5614  34.654321  11.355531
White              Female  318126  36.811618  14.329093
                   Male    760297  39.652498  13.436029

In [69]:
grouped.agg([np.sum,np.mean,np.std])

                              age                            fnlwgt          \
                              sum       mean        std         sum    mean
race               sex
Amer-Indian-Eskimo Female    4417  37.117647  13.114991    13441137  112950
                   Male      7144  37.208333  12.049563    24137350  125715
Asian-Pac-Islander Female   12141  35.089595  12.300845    51018418  147452
                   Male     27078  39.073593  12.883944   115159875  166175
Black              Female   58863  37.854019  12.637197   331170508  212971
                   Male     59124  37.682600  12.882612   381142492  242920
Other              Female    3453  31.678899  11.631599    18804641  172519
                   Male      5614  34.654321  11.355531    34616015  213679
White              Female  318126  36.811618  14.329093  1586238814  183549
                   Male    760297  39.652498  13.436029  3623644142  188987

                                         education-num                       \
                                     std           sum       mean       std
race               sex
Amer-Indian-Eskimo Female   93207.974074          1154   9.697479  2.334540
                   Male     85063.251590          1742   9.072917  2.268587
Asian-Pac-Islander Female   76401.627751          3595  10.390173  2.796647
                   Male     88552.952599          7793  11.245310  2.777463
Black              Female  109971.263983         14850   9.549839  2.207815
                   Male    134145.970946         14785   9.423199  2.382841
Other              Female   77766.666799           970   8.899083  3.027482
                   Male     92187.362735          1426   8.802469  3.361897
White              Female  101710.294872         87526  10.127980  2.368115
                   Male    103714.598847        194396  10.138521  2.656464

                          capital-gain                             \
                                   sum         mean           std
race               sex
Amer-Indian-Eskimo Female        64808   544.605042   2451.591524
                   Male         129650   675.260417   2929.745381
Asian-Pac-Islander Female       269339   778.436416   7675.228596
                   Male        1266675  1827.813853  10947.525519
Black              Female       803303   516.593569   5312.749100
                   Male        1102151   702.454430   4962.113159
Other              Female        27759   254.669725   1317.326459
                   Male         225534  1392.185185  11093.711552
White              Female      4957141   573.610391   4763.131638
                   Male       26242964  1368.674455   8442.830627

                          capital-loss                         hours-per-week  \
                                   sum        mean         std            sum
race               sex
Amer-Indian-Eskimo Female         1721   14.462185  157.763811           4353
                   Male           8908   46.395833  286.562584           8102
Asian-Pac-Islander Female        17595   50.852601  296.529225          12954
                   Male          83419  120.373737  472.917697          28738
Black              Female        70676   45.450804  299.099591          57277
                   Male         117967   75.186106  370.976546          62756
Other              Female         3955   36.284404  231.796929           3916
                   Male          12595   77.746914  370.986720           6780
White              Female       565105   65.390535  352.330817         313676
                   Male        1960759  102.261343  434.156936         818132


                                mean        std
race               sex
Amer-Indian-Eskimo Female  36.579832  11.046509
                   Male    42.197917  11.596280
Asian-Pac-Islander Female  37.439306  12.479459
                   Male    41.468975  12.387563
Black              Female  36.834084   9.419960
                   Male    39.997451  10.909413
Other              Female  35.926606  10.300761
                   Male    41.851852  11.084779
White              Female  36.296691  12.190951
                   Male    42.668822  12.194633

In [71]:
grouped['age'].agg({"求平均数":np.mean,"求和":np.sum})
#grouped.agg({"age":np.sum,"fnlwgt":np.mean})

                                求平均数      求和
race               sex
Amer-Indian-Eskimo Female  37.117647    4417
                   Male    37.208333    7144
Asian-Pac-Islander Female  35.089595   12141
                   Male    39.073593   27078
Black              Female  37.854019   58863
                   Male    37.682600   59124
Other              Female  31.678899    3453
                   Male    34.654321    5614
White              Female  36.811618  318126
                   Male    39.652498  760297

In [73]:
for name,group in grouped:
    print (name)
    print(len(group))

('Amer-Indian-Eskimo', 'Female')
119
('Amer-Indian-Eskimo', 'Male')
192
('Asian-Pac-Islander', 'Female')
346
('Asian-Pac-Islander', 'Male')
693
('Black', 'Female')
1555
('Black', 'Male')
1569
('Other', 'Female')
109
('Other', 'Male')
162
('White', 'Female')
8642
('White', 'Male')
19174

In [74]:
grouped.size()

race                sex
Amer-Indian-Eskimo  Female      119
                    Male        192
Asian-Pac-Islander  Female      346
                    Male        693
Black               Female     1555
                    Male       1569
Other               Female      109
                    Male        162
White               Female     8642
                    Male      19174
dtype: int64

In [77]:
zscore = lambda s : (s - s.mean()) / s.std()

In [79]:
grouped.transform(lambda s : (s - s.mean()) / s.std())

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
0,-0.048563,-1.074790,1.077176,0.095386,-0.235540,-0.218852
1,0.770131,-1.018915,1.077176,-0.162111,-0.235540,-2.432941
2,-0.122990,0.257038,-0.428585,-0.162111,-0.235540,-0.218852
3,1.188998,-0.061125,-1.016937,-0.141564,-0.202671,0.000234
4,-0.779763,1.140640,1.562704,-0.097237,-0.151959,0.336086
5,0.013147,0.993331,1.635064,-0.120427,-0.185594,0.303775
6,0.881998,-0.479983,-2.060789,-0.097237,-0.151959,-2.211696
7,0.918984,0.199149,-0.428585,-0.162111,-0.235540,0.191164
8,-0.405582,-1.354523,1.635064,2.836451,-0.185594,1.124056
9,0.174717,-0.284805,1.077176,0.451191,-0.235540,-0.218852
10,-0.052986,0.279869,0.242064,-0.141564,-0.202671,3.666792
11,-0.704256,-0.280949,0.631760,-0.166961,-0.254534,-0.118585
12,-0.963886,-0.602476,1.212788,-0.120427,-0.185594,-0.516505
13,-0.441106,-0.282540,1.081398,-0.141564,-0.202671,0.916873
14,0.071904,-0.501439,-0.088322,-0.166961,-0.254534,-0.118585
15,-0.266261,1.408030,-2.236157,-0.230484,-0.161905,0.241636
16,-1.090538,-0.117933,-0.428585,-0.162111,-0.235540,-0.628869
17,-0.569551,-0.020859,-0.428585,-0.162111,-0.235540,-0.218852
18,-0.122990,-1.543663,-1.181465,-0.162111,-0.235540,0.601181
19,0.431875,1.067985,1.635064,-0.120427,-0.185594,0.713916
20,0.025863,0.043741,2.206496,-0.162111,-0.235540,1.421214
21,1.277655,0.810890,-0.249042,-0.097237,-0.151959,-1.787065
22,-0.208234,-1.238022,-1.856271,-0.141564,-0.202671,0.000234
23,0.249144,-0.693734,-1.181465,-0.162111,4.467828,-0.218852
24,1.548485,-0.732816,-0.476320,-0.120427,-0.185594,0.303775
25,1.216691,0.268657,1.077176,-0.162111,-0.235540,-0.218852
26,-1.537098,-0.199522,-0.428585,-0.162111,-0.235540,-0.218852
27,1.158528,0.158494,-0.448362,-0.166961,-0.254534,1.495938
28,-0.048563,1.718877,-0.428585,-0.162111,-0.235540,3.061279
29,0.695704,0.042218,-0.428585,-0.162111,-0.235540,-0.218852
...,...,...,...,...,...,...
32531,-0.413760,-1.487417,0.933198,-0.101422,-0.171493,4.932962
32532,-0.420697,0.149194,2.206496,-0.162111,-0.235540,1.421214
32533,1.158528,1.940264,0.631760,-0.166961,-0.254534,0.688677
32534,0.013147,-0.043388,-0.054043,-0.120427,-0.185594,0.221747
32535,-1.217346,0.612112,-0.597270,-0.141564,-0.202671,-0.458086
32536,-0.196217,-0.229416,1.212788,-0.120427,-0.185594,1.534196
32537,-0.596354,0.767651,-0.177603,-0.141564,-0.202671,0.550217
32538,0.011552,-0.671006,1.562704,2.729925,-0.151959,0.866874
32539,2.333093,0.948609,2.206496,-0.162111,-0.235540,-2.678951
32540,0.571452,0.675035,-0.476320,-0.120427,-0.185594,0.303775
32541,0.248946,-0.092291,-0.249042,-0.097237,-0.151959,-0.513175
32542,2.407520,-0.569596,-0.428585,-0.162111,-0.235540,-1.448902
32543,0.571452,-0.632689,0.790511,-0.120427,-0.185594,0.960000
32544,-0.058367,0.348933,1.684871,-0.193323,-0.156535,-0.575356
32545,0.152723,-0.708394,0.790511,-0.120427,-0.185594,-1.336786
32546,0.013147,0.144194,0.790511,-0.120427,-0.185594,0.303775
32547,0.249144,0.692030,-0.428585,-0.162111,-0.235540,-0.218852
32548,1.886532,-0.864183,1.830056,-0.033481,-0.235540,1.421214
32549,0.431875,0.710695,-0.054043,-0.120427,-0.185594,0.303775
32550,0.249144,-1.559524,-0.052145,-0.162111,-0.235540,0.601181
32551,-0.432243,-1.077426,-1.354551,-0.230484,-0.161905,-0.189536
32552,0.249144,-1.005899,0.324295,-0.162111,-0.235540,0.191164
32553,-0.549024,-0.565062,0.991801,-0.166961,-0.254534,-2.459642
32554,0.993411,1.281185,1.453616,-0.162111,-0.235540,-0.218852
32555,-1.313818,1.168250,-0.052145,-0.162111,-0.235540,-0.218852
32556,-0.684734,0.725119,0.790511,-0.120427,-0.185594,0.139719
32557,0.025863,-0.333737,-0.428585,-0.162111,-0.235540,-0.218852
32558,1.478697,-0.311079,-0.476320,-0.120427,-0.185594,0.303775
32559,-1.313818,0.120548,-0.428585,-0.162111,-0.235540,-1.858918
32560,1.059968,1.026219,-0.476320,3.033800,-0.185594,0.303775

In [80]:
grouped.size()

race                sex
Amer-Indian-Eskimo  Female      119
                    Male        192
Asian-Pac-Islander  Female      346
                    Male        693
Black               Female     1555
                    Male       1569
Other               Female      109
                    Male        162
White               Female     8642
                    Male      19174
dtype: int64

In [82]:
df5 = grouped.filter(lambda s : len(s)>= 1000)

In [83]:
grouped1 = df5.groupby(['race','sex'])

In [84]:
grouped1.size()

race   sex
Black  Female     1555
       Male       1569
White  Female     8642
       Male      19174
dtype: int64

In [ ]:
# 筛选出年龄大于32的小组数据

In [89]:
grouped.filter(lambda s : s['age'].mean() >= 35)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,35,?,320084,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [92]:
grouped.groups

{('Amer-Indian-Eskimo', 'Female'): [212,
  226,
  516,
  596,
  940,
  1715,
  2036,
  2313,
  2383,
  2610,
  2720,
  2993,
  3589,
  3598,
  3605,
  3729,
  3821,
  4112,
  4169,
  4348,
  4948,
  5127,
  5214,
  5464,
  5481,
  5624,
  5775,
  5846,
  6228,
  6391,
  6902,
  6930,
  7042,
  7078,
  7519,
  7656,
  8089,
  8155,
  8330,
  8670,
  9226,
  9634,
  9825,
  9965,
  10012,
  10152,
  11263,
  12220,
  12553,
  13828,
  14360,
  14363,
  14442,
  14720,
  14810,
  14924,
  15674,
  15820,
  16178,
  16197,
  16423,
  17096,
  17134,
  17386,
  17581,
  17748,
  17781,
  18189,
  19089,
  19137,
  19515,
  19564,
  19572,
  19580,
  19744,
  20097,
  20462,
  20472,
  21438,
  21555,
  22087,
  22188,
  22244,
  22299,
  22583,
  22735,
  22779,
  22896,
  23227,
  23237,
  23238,
  23724,
  24326,
  24376,
  24402,
  25016,
  25047,
  25070,
  25125,
  25168,
  26043,
  26243,
  26901,
  27496,
  27623,
  27657,
  28248,
  28648,
  28785,
  28973,
  29021,
  29408,
  29990,
  30115,
  30586,
  30591,
  30782,
  31087,
  32425],
 ('Amer-Indian-Eskimo', 'Male'): [15,
  447,
  565,
  607,
  903,
  1216,
  1425,
  1464,
  1494,
  1844,
  2401,
  2445,
  2488,
  2601,
  2622,
  2718,
  2798,
  3406,
  3443,
  3676,
  3707,
  3838,
  3843,
  4049,
  4287,
  4426,
  4611,
  4666,
  5022,
  5358,
  5420,
  5466,
  5878,
  6049,
  6184,
  6467,
  6504,
  6582,
  6627,
  6752,
  6966,
  7161,
  7375,
  7521,
  7686,
  8149,
  8288,
  8834,
  8856,
  8866,
  9196,
  9266,
  9694,
  9697,
  9847,
  10033,
  10269,
  10340,
  10712,
  10828,
  10983,
  11163,
  11546,
  11802,
  11854,
  12275,
  12492,
  12845,
  12870,
  13271,
  13323,
  13932,
  13986,
  14112,
  14151,
  14177,
  14732,
  14775,
  14899,
  14945,
  15131,
  15212,
  15276,
  15527,
  15907,
  16183,
  16213,
  16505,
  16847,
  16934,
  17059,
  17191,
  17379,
  17398,
  17589,
  17733,
  17798,
  17849,
  17994,
  18298,
  18429,
  18442,
  18505,
  18534,
  18691,
  18697,
  18769,
  18783,
  18790,
  18988,
  19073,
  19203,
  19230,
  19279,
  19443,
  19484,
  19740,
  19759,
  19839,
  20015,
  20091,
  20351,
  20517,
  20799,
  20991,
  21112,
  21340,
  21396,
  21410,
  21421,
  21685,
  21688,
  22035,
  22059,
  22417,
  22477,
  22618,
  22902,
  23122,
  23291,
  24078,
  24143,
  24263,
  24555,
  24691,
  24967,
  25030,
  25195,
  25460,
  25647,
  25757,
  26093,
  26156,
  26166,
  26173,
  26196,
  26380,
  26425,
  26589,
  27083,
  27207,
  27767,
  27911,
  27977,
  28151,
  28278,
  28297,
  28398,
  28742,
  28908,
  29133,
  29260,
  29403,
  29537,
  29864,
  30057,
  30382,
  30579,
  30757,
  30775,
  30864,
  30938,
  30968,
  30986,
  30997,
  31358,
  31915,
  32008,
  32231,
  32242,
  32249,
  32551],
 ('Asian-Pac-Islander', 'Female'): [93,
  152,
  162,
  163,
  297,
  301,
  304,
  591,
  655,
  668,
  731,
  892,
  916,
  1217,
  1281,
  1327,
  1478,
  1622,
  1793,
  1932,
  2003,
  2060,
  2068,
  2126,
  2130,
  2135,
  2330,
  2526,
  2547,
  2590,
  2655,
  2834,
  3184,
  3239,
  3647,
  3714,
  3753,
  3879,
  3993,
  4059,
  4066,
  4168,
  4262,
  4409,
  4452,
  4532,
  4538,
  4583,
  4598,
  4650,
  4785,
  4803,
  4826,
  4854,
  4919,
  5219,
  5395,
  5415,
  5435,
  5519,
  5525,
  5617,
  5896,
  5903,
  6032,
  6122,
  6125,
  6150,
  6269,
  6493,
  6505,
  6549,
  6626,
  6918,
  6921,
  6952,
  7007,
  7057,
  7059,
  7310,
  7345,
  7606,
  7636,
  7829,
  7909,
  7932,
  8282,
  8356,
  8388,
  8497,
  8508,
  8845,
  8873,
  8962,
  9017,
  9067,
  9128,
  9147,
  9353,
  9441,
  9457,
  9525,
  9568,
  9626,
  9711,
  9848,
  9860,
  10374,
  10378,
  10399,
  10571,
  10630,
  10724,
  10762,
  10772,
  10835,
  10984,
  11134,
  11188,
  11253,
  11279,
  11316,
  11354,
  11466,
  11597,
  11916,
  11946,
  12221,
  12438,
  12614,
  12626,
  12672,
  12675,
  12865,
  12913,
  12917,
  12996,
  13122,
  13211,
  13229,
  13327,
  13546,
  13550,
  13768,
  13780,
  13933,
  14234,
  14273,
  14290,
  14318,
  14368,
  14401,
  14488,
  14600,
  14672,
  14685,
  14704,
  14740,
  14752,
  14816,
  14908,
  15005,
  15037,
  15197,
  15310,
  15643,
  15762,
  15768,
  15871,
  16006,
  16192,
  16328,
  16447,
  16494,
  16497,
  16528,
  16570,
  16620,
  16630,
  17135,
  17300,
  17341,
  17412,
  17538,
  17568,
  17595,
  17835,
  17947,
  17984,
  18031,
  18096,
  18160,
  18213,
  18244,
  18369,
  18509,
  18636,
  18808,
  18813,
  18896,
  18909,
  19027,
  19047,
  19167,
  19170,
  19273,
  19344,
  19501,
  19526,
  19611,
  19693,
  20104,
  20137,
  20292,
  20360,
  20383,
  20553,
  20698,
  20905,
  20936,
  21048,
  21108,
  21130,
  21218,
  21348,
  21611,
  21705,
  21778,
  21798,
  21911,
  21927,
  21959,
  21999,
  22307,
  22324,
  22405,
  22446,
  22564,
  22652,
  22790,
  22797,
  23021,
  23220,
  23307,
  23449,
  23458,
  23465,
  23607,
  23647,
  23689,
  23832,
  23915,
  23947,
  24006,
  24070,
  24102,
  24408,
  25153,
  25192,
  25227,
  25231,
  25238,
  25248,
  25319,
  25565,
  25619,
  25752,
  25756,
  25841,
  25873,
  25897,
  25899,
  25975,
  25990,
  26018,
  26091,
  26259,
  26447,
  26568,
  26686,
  26688,
  26777,
  26904,
  27033,
  27046,
  27056,
  27135,
  27170,
  27246,
  27315,
  27329,
  27338,
  27355,
  27525,
  27661,
  27799,
  27804,
  27808,
  27820,
  27846,
  27874,
  28002,
  28195,
  28295,
  28484,
  28581,
  28749,
  28781,
  28920,
  28938,
  29104,
  29496,
  29777,
  29936,
  30135,
  30200,
  30230,
  30289,
  30301,
  30584,
  30732,
  30735,
  30833,
  30974,
  30989,
  31060,
  31132,
  31332,
  31377,
  31506,
  31537,
  31598,
  31751,
  31757,
  31770,
  31787,
  31881,
  32044,
  32088,
  32115,
  32204,
  32285,
  32376,
  32428,
  32486,
  32531],
 ('Asian-Pac-Islander', 'Male'): [11,
  14,
  27,
  139,
  213,
  255,
  265,
  311,
  434,
  455,
  652,
  873,
  917,
  968,
  1029,
  1077,
  1092,
  1095,
  1119,
  1158,
  1179,
  1255,
  1348,
  1368,
  1411,
  1415,
  1471,
  1515,
  1581,
  1609,
  1708,
  1717,
  1756,
  1787,
  1803,
  1839,
  1864,
  1969,
  1975,
  2096,
  2104,
  2208,
  2249,
  2259,
  2286,
  2303,
  2323,
  2339,
  2412,
  2432,
  2509,
  2512,
  2558,
  2587,
  2653,
  2654,
  2898,
  2926,
  2943,
  2989,
  3021,
  3064,
  3110,
  3148,
  3199,
  3202,
  3557,
  3579,
  3627,
  3636,
  3657,
  3708,
  3715,
  3812,
  3832,
  3856,
  3909,
  3987,
  4006,
  4055,
  4108,
  4197,
  4303,
  4337,
  4367,
  4403,
  4480,
  4512,
  4523,
  4596,
  4610,
  4617,
  4625,
  4724,
  4768,
  4779,
  4786,
  4798,
  4903,
  4972,
  5012,
  5081,
  5104,
  5196,
  5330,
  5424,
  5448,
  5560,
  5592,
  5603,
  5629,
  5698,
  5771,
  5786,
  5971,
  5980,
  6006,
  6038,
  6065,
  6175,
  6219,
  6314,
  6321,
  6387,
  6560,
  6570,
  6631,
  6751,
  6853,
  6871,
  6929,
  6964,
  7016,
  7049,
  7060,
  7072,
  7202,
  7210,
  7258,
  7285,
  7320,
  7325,
  7435,
  7461,
  7469,
  7507,
  7529,
  7605,
  7669,
  7673,
  7697,
  7698,
  7800,
  7808,
  7980,
  8014,
  8024,
  8059,
  8066,
  8070,
  8075,
  8112,
  8122,
  8152,
  8414,
  8427,
  8478,
  8535,
  8572,
  8633,
  8688,
  8844,
  8874,
  8895,
  8896,
  8898,
  8953,
  8992,
  8993,
  9215,
  9318,
  9371,
  9404,
  9463,
  9470,
  9533,
  9537,
  9550,
  9553,
  9580,
  9677,
  9678,
  9735,
  9780,
  9811,
  9836,
  9859,
  9865,
  9911,
  9939,
  9952,
  9957,
  10026,
  10027,
  10091,
  10107,
  10188,
  10208,
  10218,
  10219,
  10233,
  10276,
  10296,
  10335,
  10341,
  10384,
  10408,
  10480,
  10534,
  10590,
  10634,
  10661,
  10674,
  10736,
  10770,
  11252,
  11260,
  11271,
  11284,
  11315,
  11384,
  11388,
  11401,
  11483,
  11589,
  11637,
  11747,
  11756,
  11764,
  11979,
  11986,
  12070,
  12071,
  12093,
  12129,
  12172,
  12262,
  12282,
  12404,
  12406,
  12413,
  12451,
  12464,
  12560,
  12563,
  12576,
  12584,
  12625,
  12676,
  12684,
  12725,
  12732,
  12779,
  12795,
  12931,
  12973,
  13031,
  13139,
  13159,
  13161,
  13213,
  13244,
  13325,
  13422,
  13430,
  13468,
  13476,
  13483,
  13551,
  13589,
  13641,
  13698,
  13706,
  13747,
  13785,
  13817,
  13821,
  13827,
  13843,
  13862,
  13890,
  13923,
  13971,
  14041,
  14074,
  14118,
  14147,
  14159,
  14194,
  14214,
  14242,
  14299,
  14339,
  14374,
  14507,
  14531,
  14557,
  14572,
  14582,
  14762,
  14882,
  14927,
  15043,
  15124,
  15177,
  15183,
  15222,
  15383,
  15403,
  15443,
  15466,
  15499,
  15644,
  15692,
  15698,
  15868,
  15877,
  15902,
  15967,
  15978,
  16025,
  16068,
  16103,
  16150,
  16326,
  16336,
  16564,
  16569,
  16576,
  16583,
  16655,
  16673,
  16729,
  16778,
  16843,
  16862,
  16923,
  16924,
  17025,
  17073,
  17110,
  17142,
  17163,
  17172,
  17173,
  17207,
  17220,
  17259,
  17269,
  17382,
  17447,
  17540,
  17823,
  17834,
  17877,
  17895,
  18010,
  18055,
  18065,
  18075,
  18086,
  18159,
  18238,
  18248,
  18338,
  18385,
  18412,
  18450,
  18459,
  18531,
  18538,
  18556,
  18566,
  18569,
  18657,
  18686,
  18717,
  18881,
  18889,
  18906,
  18968,
  19000,
  19029,
  19035,
  19038,
  19046,
  19094,
  19200,
  19322,
  19337,
  19351,
  19491,
  19509,
  19511,
  19538,
  19542,
  19561,
  19612,
  19725,
  19743,
  19750,
  19755,
  19926,
  19959,
  19962,
  19964,
  19989,
  20166,
  20172,
  20194,
  20229,
  20417,
  20423,
  20465,
  20494,
  20499,
  20543,
  20561,
  20621,
  20630,
  20692,
  20709,
  20775,
  20780,
  20816,
  20825,
  20892,
  21128,
  21158,
  21370,
  21441,
  21452,
  21503,
  21520,
  21672,
  21781,
  21846,
  21876,
  21949,
  21975,
  22021,
  22028,
  22029,
  22055,
  22076,
  22079,
  22106,
  22174,
  22197,
  22220,
  22225,
  22289,
  22317,
  22329,
  22427,
  22429,
  22431,
  22487,
  22575,
  22669,
  22696,
  22710,
  22876,
  22900,
  22956,
  23019,
  23022,
  23177,
  23236,
  23351,
  23357,
  23455,
  23474,
  23483,
  23508,
  23564,
  23590,
  23650,
  23721,
  23735,
  23741,
  23804,
  23840,
  23891,
  23902,
  23917,
  24056,
  24156,
  24175,
  24178,
  24202,
  24213,
  24295,
  24330,
  24378,
  24423,
  24483,
  24629,
  24634,
  24662,
  24693,
  24735,
  24818,
  24891,
  24940,
  24980,
  24981,
  24988,
  25002,
  25010,
  25101,
  25105,
  25118,
  25140,
  25258,
  25350,
  25376,
  25421,
  25423,
  25463,
  25466,
  25561,
  25577,
  25636,
  25739,
  25743,
  25766,
  25816,
  25850,
  25946,
  25994,
  26007,
  26150,
  26152,
  26305,
  26321,
  26356,
  26400,
  26432,
  26457,
  26476,
  26494,
  26545,
  26606,
  26649,
  26728,
  26754,
  26762,
  26792,
  26862,
  26878,
  26879,
  26902,
  26922,
  26972,
  27002,
  27007,
  27026,
  27071,
  27214,
  27244,
  27306,
  27374,
  27433,
  27480,
  27512,
  27602,
  27642,
  27647,
  27659,
  27670,
  27714,
  27817,
  27867,
  27904,
  27974,
  28049,
  28088,
  28245,
  28270,
  28335,
  28433,
  28452,
  28511,
  28557,
  28564,
  28651,
  28659,
  28665,
  28693,
  28773,
  28774,
  28798,
  28800,
  28816,
  28835,
  28884,
  28915,
  28922,
  28924,
  28925,
  28942,
  28995,
  28997,
  29026,
  29029,
  29046,
  29158,
  29207,
  29255,
  29290,
  29311,
  29343,
  29377,
  29393,
  29406,
  29488,
  29516,
  29547,
  29552,
  29553,
  29554,
  29631,
  29633,
  29721,
  29728,
  29786,
  29929,
  29996,
  30152,
  30325,
  30326,
  30338,
  30347,
  30455,
  30533,
  30790,
  30871,
  30925,
  30975,
  30980,
  31002,
  31003,
  31047,
  31061,
  31079,
  31181,
  31185,
  31243,
  31272,
  31282,
  31292,
  31302,
  31327,
  31357,
  31418,
  31425,
  31429,
  31491,
  31511,
  31596,
  31629,
  31634,
  31673,
  31697,
  31701,
  31741,
  31818,
  31830,
  31918,
  32062,
  32108,
  32129,
  32169,
  32199,
  32203,
  32254,
  32327,
  32337,
  32370,
  32457,
  32533,
  32553],
 ('Black', 'Female'): [4,
  6,
  21,
  71,
  92,
  134,
  145,
  190,
  231,
  251,
  252,
  282,
  294,
  312,
  313,
  326,
  344,
  410,
  411,
  446,
  450,
  485,
  508,
  511,
  536,
  539,
  553,
  554,
  563,
  605,
  621,
  622,
  630,
  631,
  633,
  691,
  711,
  715,
  734,
  736,
  738,
  747,
  785,
  876,
  890,
  923,
  945,
  952,
  978,
  982,
  986,
  1024,
  1033,
  1038,
  1041,
  1076,
  1124,
  1130,
  1165,
  1171,
  1186,
  1195,
  1234,
  1270,
  1273,
  1301,
  1328,
  1329,
  1366,
  1367,
  1375,
  1393,
  1404,
  1427,
  1455,
  1458,
  1508,
  1559,
  1564,
  1565,
  1570,
  1597,
  1606,
  1629,
  1640,
  1649,
  1686,
  1700,
  1774,
  1801,
  1813,
  1827,
  1865,
  1931,
  1942,
  1947,
  1967,
  1982,
  1989,
  2006,
  2041,
  2080,
  2107,
  2128,
  2165,
  2169,
  2192,
  2205,
  2207,
  2218,
  2228,
  2267,
  2288,
  2343,
  2365,
  2375,
  2376,
  2400,
  2435,
  2448,
  2469,
  2518,
  2539,
  2561,
  2575,
  2596,
  2615,
  2650,
  2685,
  2730,
  2782,
  2795,
  2801,
  2807,
  2811,
  2841,
  2847,
  2855,
  2906,
  2927,
  2938,
  2940,
  2951,
  2954,
  2975,
  2979,
  3019,
  3040,
  3069,
  3086,
  3096,
  3179,
  3188,
  3191,
  3193,
  3230,
  3234,
  3251,
  3269,
  3298,
  3338,
  3345,
  3362,
  3384,
  3409,
  3411,
  3454,
  3486,
  3529,
  3546,
  3548,
  3596,
  3608,
  3613,
  3658,
  3746,
  3762,
  3765,
  3767,
  3810,
  3842,
  3858,
  3940,
  3947,
  3973,
  3996,
  4041,
  4057,
  4072,
  4076,
  4135,
  4191,
  4228,
  4248,
  4253,
  4282,
  4286,
  4336,
  4347,
  4382,
  4422,
  4430,
  4446,
  4482,
  4498,
  4526,
  4536,
  4545,
  4573,
  4575,
  4576,
  4601,
  4602,
  4638,
  4643,
  4649,
  4656,
  4678,
  4687,
  4716,
  4749,
  4759,
  4760,
  4796,
  4835,
  4839,
  4841,
  4860,
  4864,
  4877,
  4887,
  4912,
  4933,
  4989,
  5017,
  5027,
  5036,
  5076,
  5080,
  5083,
  5084,
  5096,
  5119,
  5128,
  5142,
  5161,
  5178,
  5189,
  5208,
  5210,
  5227,
  5313,
  5343,
  5354,
  5375,
  5380,
  5384,
  5423,
  5434,
  5504,
  5520,
  5530,
  5546,
  5585,
  5594,
  5605,
  5626,
  5720,
  5750,
  5768,
  5770,
  5774,
  5788,
  5811,
  5833,
  5872,
  5890,
  5908,
  5910,
  5935,
  5963,
  5990,
  6044,
  6060,
  6098,
  6140,
  6152,
  6154,
  6193,
  6225,
  6229,
  6239,
  6271,
  6297,
  6339,
  6358,
  6370,
  6423,
  6435,
  6445,
  6448,
  6476,
  6511,
  6523,
  6544,
  6564,
  6565,
  6578,
  6594,
  6601,
  6630,
  6654,
  6694,
  6709,
  6732,
  6773,
  6779,
  6780,
  6799,
  6807,
  6809,
  6828,
  6855,
  6861,
  6923,
  6991,
  7038,
  7050,
  7075,
  7091,
  7094,
  7137,
  7168,
  7172,
  7190,
  7196,
  7209,
  7227,
  7234,
  7239,
  7243,
  7279,
  7300,
  7328,
  7434,
  7436,
  7443,
  7459,
  7463,
  7473,
  7505,
  7524,
  7581,
  7597,
  7615,
  7631,
  7637,
  7647,
  7652,
  7663,
  7665,
  7753,
  7815,
  7861,
  7900,
  7908,
  7928,
  7940,
  7949,
  7952,
  8003,
  8035,
  8044,
  8058,
  8133,
  8189,
  8219,
  8246,
  8251,
  8274,
  8292,
  8310,
  8312,
  8314,
  8334,
  8341,
  8349,
  8380,
  8385,
  8415,
  8424,
  8429,
  8445,
  8465,
  8493,
  8519,
  8521,
  8603,
  8607,
  8644,
  8647,
  8649,
  8678,
  8699,
  8701,
  8746,
  8760,
  8772,
  8811,
  8835,
  8861,
  8871,
  8915,
  9042,
  9045,
  9047,
  9049,
  9069,
  9122,
  9151,
  9230,
  9244,
  9248,
  9249,
  9286,
  9300,
  9314,
  9330,
  9360,
  9380,
  9424,
  9509,
  9548,
  9565,
  9572,
  9581,
  9588,
  9590,
  9591,
  9593,
  9595,
  9599,
  9607,
  9622,
  9623,
  9635,
  9696,
  9702,
  9729,
  9779,
  9784,
  9790,
  9802,
  9835,
  9838,
  9856,
  9872,
  9950,
  9951,
  9972,
  9992,
  10007,
  10021,
  10066,
  10084,
  10088,
  10089,
  10151,
  10154,
  10164,
  10176,
  10251,
  10256,
  10338,
  10401,
  10404,
  10419,
  10435,
  10450,
  10462,
  10463,
  10539,
  10577,
  10593,
  10623,
  10645,
  10679,
  10699,
  10711,
  10746,
  10751,
  10783,
  10804,
  10816,
  10839,
  10861,
  10869,
  10884,
  10885,
  10903,
  10950,
  10954,
  10962,
  10973,
  11008,
  11062,
  11115,
  11137,
  11141,
  11172,
  11178,
  11267,
  11277,
  11287,
  11311,
  11337,
  11367,
  11431,
  11438,
  11480,
  11490,
  11507,
  11509,
  11547,
  11556,
  11558,
  11581,
  11585,
  11586,
  11588,
  11609,
  11618,
  11622,
  11623,
  11661,
  11671,
  11684,
  11695,
  11697,
  11713,
  11714,
  11722,
  11738,
  11757,
  11812,
  11816,
  11823,
  11837,
  11882,
  11893,
  11973,
  11994,
  12024,
  12036,
  12047,
  12077,
  12082,
  12131,
  12149,
  12168,
  12174,
  12187,
  12225,
  12249,
  12253,
  12270,
  12273,
  12280,
  12285,
  12291,
  12312,
  12314,
  12321,
  12333,
  12337,
  12345,
  12346,
  12359,
  12375,
  12466,
  12502,
  12527,
  12528,
  12531,
  12550,
  12594,
  12608,
  12611,
  12615,
  12623,
  12638,
  12652,
  12660,
  12667,
  12708,
  12734,
  12750,
  12760,
  12802,
  12820,
  12833,
  12836,
  12863,
  12886,
  12894,
  12907,
  12958,
  12966,
  13016,
  13032,
  13053,
  13106,
  13184,
  13221,
  13230,
  13258,
  13296,
  13309,
  13358,
  13361,
  13365,
  13370,
  13421,
  13424,
  13440,
  13478,
  13488,
  13489,
  13494,
  13542,
  13567,
  13685,
  13739,
  13742,
  13749,
  13753,
  13791,
  13818,
  13837,
  13900,
  13937,
  13946,
  13948,
  13950,
  14011,
  14021,
  14024,
  14033,
  14053,
  14056,
  14062,
  14080,
  14108,
  14121,
  14137,
  14138,
  14167,
  14213,
  14223,
  14252,
  14278,
  14291,
  14292,
  14327,
  14341,
  14365,
  14448,
  14455,
  14475,
  14504,
  14510,
  14530,
  14534,
  14553,
  14631,
  14646,
  14651,
  14683,
  14692,
  14708,
  14718,
  14727,
  14729,
  14731,
  14742,
  14787,
  14794,
  14824,
  14937,
  14974,
  15010,
  15014,
  15016,
  15036,
  15044,
  15045,
  15066,
  15113,
  15147,
  15149,
  15167,
  15181,
  15185,
  15200,
  15228,
  15249,
  15265,
  15277,
  15304,
  15333,
  15338,
  15358,
  15392,
  15417,
  15419,
  15457,
  15463,
  15464,
  15468,
  15479,
  15483,
  15498,
  15501,
  15503,
  15539,
  15583,
  15586,
  15587,
  15594,
  15599,
  15646,
  15740,
  15783,
  15882,
  15888,
  15898,
  15903,
  15913,
  15952,
  15995,
  16013,
  16020,
  16021,
  16028,
  16031,
  16041,
  16090,
  16133,
  16135,
  16187,
  16266,
  16270,
  16306,
  16314,
  16321,
  16356,
  16362,
  16417,
  16420,
  16431,
  16479,
  16501,
  16522,
  16524,
  16532,
  16544,
  16550,
  16552,
  16560,
  16572,
  16584,
  16595,
  16621,
  16636,
  16653,
  16749,
  16764,
  16767,
  16777,
  16815,
  16854,
  16858,
  16884,
  16890,
  16926,
  16952,
  16956,
  17007,
  17035,
  17080,
  17095,
  17098,
  17109,
  17148,
  17149,
  17187,
  17273,
  17275,
  17284,
  17309,
  17326,
  17348,
  17350,
  17352,
  17420,
  17468,
  17469,
  17477,
  17478,
  17479,
  17556,
  17559,
  17560,
  17588,
  17634,
  17658,
  17683,
  17687,
  17693,
  17704,
  17763,
  17773,
  17774,
  17785,
  17788,
  17809,
  17818,
  17826,
  17850,
  17853,
  17883,
  17886,
  17915,
  17941,
  17944,
  17956,
  17960,
  17961,
  17995,
  18003,
  18005,
  18045,
  18088,
  18092,
  18110,
  18163,
  18191,
  18243,
  18306,
  18322,
  18325,
  18355,
  18391,
  18395,
  18461,
  18467,
  18498,
  18504,
  18513,
  18533,
  18547,
  18548,
  18570,
  18593,
  18610,
  18615,
  18616,
  18617,
  18634,
  18638,
  18640,
  18667,
  18672,
  18720,
  18745,
  18764,
  18780,
  18870,
  18877,
  18880,
  18894,
  18903,
  18944,
  18970,
  18989,
  19004,
  19007,
  19110,
  19153,
  19159,
  19186,
  19193,
  19207,
  19212,
  19229,
  19231,
  19234,
  19242,
  19263,
  19274,
  19304,
  19313,
  19343,
  19345,
  19365,
  19388,
  19457,
  19496,
  19512,
  19522,
  19527,
  19539,
  19562,
  19573,
  19575,
  19579,
  19596,
  19613,
  19639,
  19649,
  19715,
  19748,
  19760,
  19762,
  19781,
  19782,
  19808,
  19837,
  19841,
  19857,
  19870,
  19880,
  19888,
  19933,
  19951,
  19965,
  20006,
  20021,
  20022,
  20103,
  20120,
  20142,
  20161,
  20190,
  20220,
  20232,
  20233,
  20234,
  20254,
  20280,
  20306,
  20317,
  20330,
  20350,
  20364,
  20384,
  20399,
  20401,
  20408,
  20415,
  20437,
  20449,

In [94]:
grouped.get_group(('Amer-Indian-Eskimo', 'Female'))

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
212,35,Private,153790,Some-college,10,Never-married,Sales,Not-in-family,Amer-Indian-Eskimo,Female,0,0,40,United-States,<=50K
226,60,?,24215,10th,6,Divorced,?,Not-in-family,Amer-Indian-Eskimo,Female,0,0,10,United-States,<=50K
516,25,Private,267044,Some-college,10,Never-married,Adm-clerical,Not-in-family,Amer-Indian-Eskimo,Female,0,0,20,United-States,<=50K
596,23,?,99399,Some-college,10,Never-married,?,Unmarried,Amer-Indian-Eskimo,Female,0,0,25,United-States,<=50K
940,31,Private,78602,Assoc-acdm,12,Divorced,Other-service,Unmarried,Amer-Indian-Eskimo,Female,0,0,40,United-States,<=50K
1715,39,Private,19914,Some-college,10,Divorced,Adm-clerical,Unmarried,Amer-Indian-Eskimo,Female,0,0,40,United-States,<=50K
2036,19,?,33487,Some-college,10,Never-married,?,Other-relative,Amer-Indian-Eskimo,Female,0,0,40,United-States,<=50K
2313,31,Local-gov,151726,Assoc-acdm,12,Never-married,Adm-clerical,Own-child,Amer-Indian-Eskimo,Female,0,0,40,United-States,<=50K
2383,63,Private,30602,7th-8th,4,Married-spouse-absent,Other-service,Unmarried,Amer-Indian-Eskimo,Female,0,0,40,United-States,<=50K
2610,18,Private,40829,11th,7,Never-married,Sales,Other-relative,Amer-Indian-Eskimo,Female,0,0,25,United-States,<=50K
2720,40,Local-gov,50442,Some-college,10,Never-married,Adm-clerical,Unmarried,Amer-Indian-Eskimo,Female,2977,0,35,United-States,<=50K
2993,29,Private,100405,10th,6,Married-civ-spouse,Farming-fishing,Wife,Amer-Indian-Eskimo,Female,0,0,40,United-States,<=50K
3589,31,Local-gov,50442,Some-college,10,Never-married,Exec-managerial,Own-child,Amer-Indian-Eskimo,Female,0,0,32,United-States,<=50K
3598,25,Local-gov,44216,HS-grad,9,Divorced,Adm-clerical,Not-in-family,Amer-Indian-Eskimo,Female,0,0,35,United-States,<=50K
3605,17,Private,130125,10th,6,Never-married,Other-service,Own-child,Amer-Indian-Eskimo,Female,1055,0,20,United-States,<=50K
3729,28,Local-gov,25864,HS-grad,9,Never-married,Exec-managerial,Unmarried,Amer-Indian-Eskimo,Female,0,0,35,United-States,<=50K
3821,31,Private,395170,Assoc-voc,11,Married-civ-spouse,Other-service,Wife,Amer-Indian-Eskimo,Female,0,0,24,Mexico,<=50K
4112,38,State-gov,31352,Some-college,10,Divorced,Protective-serv,Unmarried,Amer-Indian-Eskimo,Female,0,0,40,United-States,>50K
4169,27,?,129661,Assoc-voc,11,Married-civ-spouse,?,Wife,Amer-Indian-Eskimo,Female,0,0,40,United-States,>50K
4348,40,Private,20109,Some-college,10,Divorced,Handlers-cleaners,Not-in-family,Amer-Indian-Eskimo,Female,0,0,84,United-States,<=50K
4948,60,Federal-gov,21876,Some-college,10,Divorced,Prof-specialty,Not-in-family,Amer-Indian-Eskimo,Female,0,0,40,United-States,<=50K
5127,55,State-gov,26290,Assoc-voc,11,Widowed,Exec-managerial,Not-in-family,Amer-Indian-Eskimo,Female,0,0,38,United-States,<=50K
5214,63,?,445168,Bachelors,13,Widowed,?,Not-in-family,Amer-Indian-Eskimo,Female,0,0,56,United-States,<=50K
5464,47,Private,184005,HS-grad,9,Divorced,Exec-managerial,Not-in-family,Amer-Indian-Eskimo,Female,3325,0,45,United-States,<=50K
5481,19,Self-emp-not-inc,30800,10th,6,Married-spouse-absent,Adm-clerical,Unmarried,Amer-Indian-Eskimo,Female,0,0,40,United-States,<=50K
5624,21,Private,216070,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,Amer-Indian-Eskimo,Female,0,0,46,United-States,>50K
5775,37,Private,163199,Some-college,10,Divorced,Tech-support,Not-in-family,Amer-Indian-Eskimo,Female,0,0,40,United-States,<=50K
5846,33,Private,110998,HS-grad,9,Never-married,Other-service,Other-relative,Amer-Indian-Eskimo,Female,0,0,36,United-States,<=50K
6228,24,Private,336088,HS-grad,9,Divorced,Exec-managerial,Not-in-family,Amer-Indian-Eskimo,Female,0,0,50,United-States,<=50K
6391,41,State-gov,47170,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Amer-Indian-Eskimo,Female,0,0,48,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23237,47,?,89806,Some-college,10,Divorced,?,Not-in-family,Amer-Indian-Eskimo,Female,0,0,35,United-States,<=50K
23238,39,Private,106183,HS-grad,9,Divorced,Other-service,Unmarried,Amer-Indian-Eskimo,Female,6849,0,40,United-States,<=50K
23724,31,Private,264864,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Wife,Amer-Indian-Eskimo,Female,0,0,40,United-States,<=50K
24326,27,Local-gov,66824,Bachelors,13,Never-married,Prof-specialty,Not-in-family,Amer-Indian-Eskimo,Female,3325,0,43,United-States,<=50K
24376,22,Private,233955,Bachelors,13,Never-married,Prof-specialty,Not-in-family,Amer-Indian-Eskimo,Female,14344,0,40,United-States,>50K
24402,30,Local-gov,99502,Assoc-voc,11,Divorced,Protective-serv,Unmarried,Amer-Indian-Eskimo,Female,0,0,40,United-States,<=50K
25016,30,Private,299223,Some-college,10,Divorced,Sales,Unmarried,Amer-Indian-Eskimo,Female,0,0,40,United-States,<=50K
25047,47,Private,104068,HS-grad,9,Divorced,Prof-specialty,Unmarried,Amer-Indian-Eskimo,Female,0,0,40,United-States,<=50K
25070,59,Private,205949,HS-grad,9,Separated,Craft-repair,Unmarried,Amer-Indian-Eskimo,Female,0,0,40,United-States,<=50K
25125,61,State-gov,130466,HS-grad,9,Widowed,Adm-clerical,Unmarried,Amer-Indian-Eskimo,Female,0,0,40,United-States,<=50K
25168,21,Private,75763,Some-college,10,Married-civ-spouse,Sales,Wife,Amer-Indian-Eskimo,Female,0,0,40,United-States,<=50K
26043,42,Private,134220,Assoc-voc,11,Divorced,Exec-managerial,Own-child,Amer-Indian-Eskimo,Female,0,0,40,United-States,<=50K
26243,50,Federal-gov,32801,Bachelors,13,Married-civ-spouse,Exec-managerial,Wife,Amer-Indian-Eskimo,Female,0,0,40,United-States,>50K
26901,42,Private,86185,Some-college,10,Widowed,Exec-managerial,Not-in-family,Amer-Indian-Eskimo,Female,0,0,40,United-States,<=50K
27496,19,Private,243941,Some-college,10,Never-married,Sales,Own-child,Amer-Indian-Eskimo,Female,0,1721,25,United-States,<=50K
27623,25,Private,25386,Assoc-voc,11,Never-married,Other-service,Unmarried,Amer-Indian-Eskimo,Female,0,0,40,United-States,<=50K
27657,48,?,61985,9th,5,Separated,?,Not-in-family,Amer-Indian-Eskimo,Female,0,0,20,United-States,<=50K
28248,46,Local-gov,197988,1st-4th,2,Never-married,Other-service,Not-in-family,Amer-Indian-Eskimo,Female,0,0,20,United-States,<=50K
28648,46,Federal-gov,199725,Assoc-voc,11,Divorced,Craft-repair,Not-in-family,Amer-Indian-Eskimo,Female,0,0,60,United-States,<=50K
28785,50,Private,150975,HS-grad,9,Divorced,Machine-op-inspct,Not-in-family,Amer-Indian-Eskimo,Female,0,0,40,United-States,<=50K
28973,46,State-gov,363875,Some-college,10,Divorced,Protective-serv,Unmarried,Amer-Indian-Eskimo,Female,0,0,40,United-States,<=50K
29021,28,Private,25684,HS-grad,9,Never-married,Prof-specialty,Not-in-family,Amer-Indian-Eskimo,Female,0,0,40,United-States,<=50K
29408,36,Private,68089,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,Amer-Indian-Eskimo,Female,0,0,40,United-States,<=50K
29990,33,Private,31449,Assoc-acdm,12,Divorced,Machine-op-inspct,Unmarried,Amer-Indian-Eskimo,Female,0,0,40,United-States,<=50K
30115,46,Self-emp-inc,320124,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,Amer-Indian-Eskimo,Female,15024,0,40,United-States,>50K
30586,42,Local-gov,29075,Assoc-acdm,12,Married-civ-spouse,Prof-specialty,Wife,Amer-Indian-Eskimo,Female,0,0,40,United-States,<=50K
30591,21,Private,164991,HS-grad,9,Divorced,Sales,Unmarried,Amer-Indian-Eskimo,Female,0,0,38,United-States,<=50K
30782,28,Federal-gov,24153,10th,6,Married-civ-spouse,Other-service,Wife,Amer-Indian-Eskimo,Female,0,0,40,United-States,<=50K
31087,30,Private,67187,HS-grad,9,Never-married,Handlers-cleaners,Own-child,Amer-Indian-Eskimo,Female,0,0,8,United-States,<=50K
32425,23,Private,180771,1st-4th,2,Married-civ-spouse,Machine-op-inspct,Wife,Amer-Indian-Eskimo,Female,0,0,35,Mexico,<=50K

In [96]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                 'B': ['B0', 'B1', 'B2', 'B3'],
                'C': ['C0', 'C1', 'C2', 'C3'],
                'D': ['D0', 'D1', 'D2', 'D3']},
              index=[0, 1, 2, 3])


df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                 'B': ['B4', 'B5', 'B6', 'B7'],
                  'C': ['C4', 'C5', 'C6', 'C7'],
                 'D': ['D4', 'D5', 'D6', 'D7']},
                 index=[4, 5, 6, 7])


df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                  'B': ['B8', 'B9', 'B10', 'B11'],
                 'C': ['C8', 'C9', 'C10', 'C11'],
                 'D': ['D8', 'D9', 'D10', 'D11']},
                index=[8, 9, 10, 11])

In [97]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [98]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [99]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [101]:
pd.concat([df1,df2,df3],axis = 1)

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

In [103]:
df1.append(df2).append(df3)

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [105]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                  'key2': ['K0', 'K1', 'K0', 'K1'],
                  'A': ['A0', 'A1', 'A2', 'A3'],
                  'B': ['B0', 'B1', 'B2', 'B3']})





right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                     'C': ['C0', 'C1', 'C2', 'C3'],
                       'D': ['D0', 'D1', 'D2', 'D3']})

In [106]:
left

    A   B key1 key2
0  A0  B0   K0   K0
1  A1  B1   K0   K1
2  A2  B2   K1   K0
3  A3  B3   K2   K1

In [107]:
right

    C   D key1 key2
0  C0  D0   K0   K0
1  C1  D1   K1   K0
2  C2  D2   K1   K0
3  C3  D3   K2   K0

In [112]:
pd.merge(left,right,on = ['key1','key2'],how = "outer")

     A    B key1 key2    C    D
0   A0   B0   K0   K0   C0   D0
1   A1   B1   K0   K1  NaN  NaN
2   A2   B2   K1   K0   C1   D1
3   A2   B2   K1   K0   C2   D2
4   A3   B3   K2   K1  NaN  NaN
5  NaN  NaN   K2   K0   C3   D3

In [114]:
right1 = right.rename(columns = {"key1":"key_1","key2":"key_2"})

In [116]:
left

    A   B key1 key2
0  A0  B0   K0   K0
1  A1  B1   K0   K1
2  A2  B2   K1   K0
3  A3  B3   K2   K1

In [115]:
right1

    C   D key_1 key_2
0  C0  D0    K0    K0
1  C1  D1    K1    K0
2  C2  D2    K1    K0
3  C3  D3    K2    K0

In [118]:
pd.merge(left,right1,left_on = ['key1','key2'],right_on = ["key_1","key_2"])

    A   B key1 key2   C   D key_1 key_2
0  A0  B0   K0   K0  C0  D0    K0    K0
1  A2  B2   K1   K0  C1  D1    K1    K0
2  A2  B2   K1   K0  C2  D2    K1    K0

In [119]:
right2 = right.set_index(['key1','key2'])

In [120]:
right2

            C   D
key1 key2
K0   K0    C0  D0
K1   K0    C1  D1
     K0    C2  D2
K2   K0    C3  D3

In [126]:
left2 = left.set_index(['key1','key2'])

In [127]:
pd.merge(left2,right2,left_index = True,right_index=True)

            A   B   C   D
key1 key2
K0   K0    A0  B0  C0  D0
K1   K0    A2  B2  C1  D1
     K0    A2  B2  C2  D2

In [129]:
right2

            C   D
key1 key2
K0   K0    C0  D0
K1   K0    C1  D1
     K0    C2  D2
K2   K0    C3  D3

In [135]:
left2

            A   B
key1 key2
K0   K0    A0  B0
     K1    A1  B1
K1   K0    A2  B2
K2   K1    A3  B3

In [137]:
left2.join(right2,how = "inner")

            A   B   C   D
key1 key2
K0   K0    A0  B0  C0  D0
K1   K0    A2  B2  C1  D1
     K0    A2  B2  C2  D2

In [134]:
left.join(right2,on = ['key1','key2'],how = "inner")

    A   B key1 key2   C   D
0  A0  B0   K0   K0  C0  D0
2  A2  B2   K1   K0  C1  D1
2  A2  B2   K1   K0  C2  D2

In [139]:
right2

            C   D
key1 key2
K0   K0    C0  D0
K1   K0    C1  D1
     K0    C2  D2
K2   K0    C3  D3